<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MenuLab2</title>
</head>

<body>
	<button th:onclick="window.location.href='/ctrl/ok'">Bai 1</button>
	<button th:onclick="window.location.href='/param/form'">Bai 2</button>
	<button th:onclick="window.location.href='/product/form'">Bai 3</button>
	<button th:onclick="window.location.href='/product4/form4'">Bai 4</button>
	<button th:onclick="window.location.href='/a'">Bai 5</button>

</body>

</html>