<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OK</title>
</head>

<body>
	<form action="/ctrl/ok" method="post">
		<button name="action" value="m1">OK 1</button>
		<button formmethod="get">OK 2</button>
		<button formaction="/ctrl/ok?x">OK 3</button>
	</form>
	<p>Kết quả: <span th:text="${methodName}"></span></p>
	<button th:onclick="window.location.href='/menul2'">Back to menu</button>
</body>

</html>