<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>FormProduct</title>
</head>

<body>
	<form action="/product/save" method="post">
		<input name="name" th:value="${product.name}">
		<input name="price" th:value="${product.price}">
		<button>Save</button>
	</form>
	<ul>
		<li th:text="${product.name}">?name</li>
		<li th:text="${product.price}">?price</li>
	</ul>
	<button th:onclick="window.location.href='/menul2'">Back to menu</button>
</body>

</html>