<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tính Chu vi & Diện tích Hình chữ nhật</title>
</head>
<body>
	<div class="container">
		<h2>Tính Chu vi & Diện tích Hình chữ nhật</h2>
		<form th:action="@{/rectangleCal/cal}" method="post">
			<label for="a">A: </label>
			<input type="text" id="a" name="a" step="any" required th:value="${a}">
			<br>
			<label for="b">B: </label>
			<input type="text"id="b" name="b" step="any" required th:value="${b}">
			<button type="submit">Calculate</button><hr>
		</form>
		<p>Area: <span th:text="${area}"></span></p>
		<p>Perimeter: <span th:text="${perimeter}"></span></p>
		<button th:onclick="window.location.href='/poly/hello'">Back</button>
	</div>
</body>
</html>