<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagination & Sorting</title>
</head>
<body>
<h3>PAGINATION & SORTING BY <span th:text="${field}"></span></h3>

<table border="1" style="width:100%">
    <tr>
        <th><a th:href="@{|/product/pageAndSort?field=id|}">Id</a></th>
        <th><a th:href="@{|/product/pageAndSort?field=name|}">Name</a></th>
        <th><a th:href="@{|/product/pageAndSort?field=price|}">Price</a></th>
        <th><a th:href="@{|/product/pageAndSort?field=createDate|}">Date</a></th>
    </tr>

    <th:block th:each="item: ${page.content}">
        <tr>
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.createDate}"></td>
        </tr>
    </th:block>
</table>

<!-- Điều hướng phân trang -->
<a th:href="@{|/product/pageAndSort?p=0&field=${field.toLowerCase()}|}">First</a>
<a th:href="@{|/product/pageAndSort?p=${page.number - 1}&field=${field.toLowerCase()}|}"
   th:if="${!page.first}">Previous</a>
<a th:href="@{|/product/pageAndSort?p=${page.number + 1}&field=${field.toLowerCase()}|}"
   th:if="${!page.last}">Next</a>
<a th:href="@{|/product/pageAndSort?p=${page.totalPages - 1}&field=${field.toLowerCase()}|}">Last</a>

<hr>
<ul>
    <li>Số thực thể hiện tại: [[${page.numberOfElements}]]</li>
    <li>Trang số: [[${page.number}]]</li>
    <li>Kích thước trang: [[${page.size}]]</li>
    <li>Tổng số thực thể: [[${page.totalElements}]]</li>
    <li>Tổng số trang: [[${page.totalPages}]]</li>
</ul>
</body>
</html>
